body{
 background: #85c1e9; 
  background: -webkit-linear-gradient(to right, #74c7fd, #0693ee); 
  background: linear-gradient(to right, #74c7fd, #0693ee); 
}


h1{
	color: black;
	text-align: center;
    font-family: "Poppins", sans-serif;
}
img{
	align-content: center;
	width: 20%;
}