body{
 background: #e55d87; 
  background: -webkit-linear-gradient(to right, #e55d87, #5fc3e4); 
  background: linear-gradient(to right, #e55d87, #5fc3e4); 
}


h1{
	color: pink;
	text-align: center;
    font-family: "Poppins", sans-serif;
}
img{
	align-content: center;
	width: 20%;
}